body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh; 
}

main {
    display: flex;
    flex-direction: row;
    flex: auto; 
}

article {
    flex: 2; 
    overflow-y: auto; 
}

aside {
    flex: 1; 
    overflow-y: auto; 

header, footer {
    padding: 10px;
    background-color: #f0f0f0;
}